<!DOCTYPE html>
<html>
{% include head.html %}
<style>
    h4 {
        border-spacing: 10px;
        margin-top: 100px;
        margin-bottom: 20px;
    }
</style>

<body>
<div>
    <nav>

        <div class="nav-wrapper">
            <a class="right" href="https://mvnrepository.com/artifact/net.digital-alexandria/lvm4j"
               style="color: black; font-size: 2em; margin-right: 2%">lvm4j</a>
        </div>

        <ul id="nav-mobile" class="fixed leftnavt">
            <li><a href="/" class="subheader" style="font-size: 1.25em; margin-top: 15%">Home</a></li>
            <li><a href="/tutorial#decomposition" class="subheader waves-effect waves-teal liblink"
                   style="font-size: 1.05em; color: #26a69a; ">Decomposition</a>
                <div>
                    <ul>
                        <li><a href="/tutorial#principal-component-analysis" class="waves-effect waves-teal liblink"
                               style="font-size: 1.00em; color: #26a69a">Principal components</a></li>
                        <li><a href="/tutorial#factor-analysis" class="waves-effect waves-teal liblink"
                               style="font-size: 1.00em; color: #26a69a">Factor analysis</a></li>
                    </ul>
                </div>
            </li>
            <li><a href="/tutorial#markov-models" class="subheader waves-effect waves-teal liblink"
                   style="font-size: 1.05em; color: #26a69a;">Markov
                Models</a>
                <ul>
                    <li><a href="/tutorial#hidden-markov-models" class="waves-effect waves-teal liblink"
                           style="font-size: 1.00em; color: #26a69a;">Hidden Markov Models</a></li>
                </ul>

            </li>
        </ul>
    </nav>
</div>

<div class="container">
    <section>
        <h2 style="margin-top: 5%">{{page.title}}</h2>
        <div class="docs-section">
            {{ content }}
        </div>
    </section>
    {% include footer.html %}
</div>
{% include scripts.html %}
</body>
</html>
